@use '../../../shared/styles/variables/variables' as *;

.product-details {

  padding-block: 50px;

  &__title {
    color: $color-text-primary;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__btn-navigate {
    padding-inline: 30px;
    padding-block: 6px;
    color: $color-text-muted ;
  }
}