@use '../../../shared/styles/variables/variables' as *;

.product-edit {

  &__container {}

  &__btn-navigate {
    background-color: $color-surface-light;
    border-radius: 10px;
    padding-block: 5px;
    padding-inline: 30px;
    transition: all 0.3s;

    &:hover {
      background-color: $color-surface-hover;
    }
  }
}