@use '../../../shared/styles/variables/variables' as *;

.product-card {
  background-color: $color-surface-hover;
  color: $color-text-primary;
  border-radius: 10px;
  // overflow: hidden;
  border: 1px solid transparent;
  min-height: 100%;
  box-shadow: $shadow-card;
  padding-block: 10px;
  padding-inline: 10px;
  transition: all 0.3s;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  &:hover {
    border-color: $color-accent;
  }

  &__link {
    display: block;

    // &.product-card {
    //   &:hover {
    //     border: 1px $color-text-primary;
    //   }
    // }

  }

  &__image-wrap {
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100%;
  }

  &__title {
    font-size: 20px;
    color: $color-text-muted;
    font-family: $font-family;
  }

  &__desc {
    flex-grow: 1;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }

  &__price {}

  &__category {}

  &__brand {}

  &__btn {

    &--delete {
      background-color: $color-button;
      border-radius: 10px;
      padding-block: 10px;
      transition: all 0.3s;
      padding-inline: 15px;
      cursor: pointer;

      &:hover {
        background-color: $color-button-hover;
      }
    }

    &--edit {
      background-color: $color-accent;
      border-radius: 10px;
      padding-inline: 10px;
      padding-block: 10px;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $color-accent-hover;
      }
    }
  }
}

.product-detail {
  background-color: $color-surface-hover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $shadow-card;
  color: $color-text-primary;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;

  &__inner {}

  &__image-wrap {
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 22px;
    color: $color-text-secondary;
  }

  &__text {}

  &__info {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }

  &__content {}

  &__bottom {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}